<html>
    <!--Banner-->
<div class="header flex_to_corner">
    <div style="flex-grow: 1">
      <img class="BJB_logo" src="/assets/image/BJB logo.png" alt="BJB logo">
    </div>
    <div style="flex-grow: 8; text-align:left"><h1>BJB TEMPAHAN UTILITI</h1></div>
    <div class="sign_in_up" style="flex-grow: 1; text-align: right">
        <a routerLink="/login">LOG MASUK</a> ||
        <a routerLink="/register"  >DAFTAR</a>
  </div>
</div>

<!--Navigation Bar-->
<div>
    <ul>
      <li><a href="/home">LAMAN UTAMA</a></li>
      <li class="dropdown">
        <a routerLink="/user-view-utility" class="dropbtn">SENARAI RUANG</a>
      </li>
      <li><a href="#">TENTANG KAMI</a></li>
      <li><a href="#">HUBUNGI KAMI</a></li>
    </ul>
  </div>

<!--Content Start Here-->

<div class = "registercontainer">
    <div class="box_1">
      <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()" ngNativaValidate>
        <h2>Kemas Kini Kata Laluan</h2>
        <hr class="line">
        <label>Kata Laluan Baru</label>
        <input type="password" class="formControl" formControlName="password" placeholder="kata laluan baru" required>

        <label>Taip Semula Kata Laluan Baru</label>
        <input type="password"class="form-control" formControlName="password2"  placeholder="kata laluan baru" required>

        <input type="submit" name="submit" value="Hantar Borang Pendaftaran" id="reg_btn">
      </form>
    </div>
</div>
</html>
