<html>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Banner-->
  <div class="header flex_to_corner">
    <div style="flex-grow: 1">
      <img class="BJB_logo" src="/assets/image/BJB logo.png" alt="BJB logo">
    </div>
    <div style="flex-grow: 8; text-align:left"><h1>BJB TEMPAHAN UTILITI</h1></div>
    <div class="sign_in_up" style="flex-grow: 1; text-align: right">
      <a href="/home"><b>LOG KELUAR</b></a>
    </div>
</div>

<!--Navigation Bar-->
<div>
    <ul>
      <li><a [routerLink]="['/user-portal', this.id]">LAMAN UTAMA</a></li>
    </ul>
</div>

  <!--Content Start Here-->
  <div class="registercontainer">  
  
    <div class="box_1">
        <div class="title">
            <h1 align="center">Maklumat Peribadi</h1>
        </div>

        <!--<div *ngFor="let user of userList">-->
        <hr class="line">
        <div class="row">
        <div class = "columnleft">
          <font class = "title">Nama Penuh</font>
        </div>
        <div class = "columnright">
         <font class = "data">{{users.name}}</font>
        </div>
        </div>

        <hr class="line">
        <div class="row">
        <div class = "columnleft">
          <font class = "title">Nombor Kad Pengenalan</font>
        </div>
        <div class = "columnright">
         <font class = "data">{{users.ic}}</font>
        </div>
        </div>
        
        <hr class="line">
        <div class="row">
          <div class = "columnleft">
            <font class = "title">Alamat Penuh </font>
          </div>
          <div class = "columnright">
              {{users.address1}}, <br>                      
              {{users.address2}} <br>
              {{users.postcode}},{{users.state}} <br>
          </div>
        </div>

        <hr class="line">
        <div class="row">
          <div class = "columnleft">
            <font class = "title">Telefon Nombor</font>
          </div>
          <div class = "columnright">
              {{users.phone}}
          </div>
        </div>

        <hr class="line">
        <div class="row">
          <div class = "columnleft">
            <font class = "title">E-mel</font>
          </div>
          <div class = "columnright">
              {{users.email}} 
          </div>
        </div>

        <hr class="line">
        <div class="row">
          <div class = "columnleft">
            <font class = "title">Nama Pengguna</font>
          </div>
          <div class = "columnright">
              {{users.username}}
          </div>
        </div>

        <hr class="line"> <br><br>
        <input type = "submit" class="update" value="Kemas Kini" id="fed_btn" [routerLink]="['/update-user',id]">
    </div>
    </div>
  <!--</div>-->

 <!--Footer-->
 <div class="bjb_footer">
    <a href="https://www.facebook.com/kbjbkangkarpulai/" target="_blank"><img class="footer" src="/assets/image/facebook.jpg"></a>
    <a href="mailto:bjbkangkarpulai@gmail.com" target="_blank"><img class="footer" src="/assets/image/gmail.jpg"></a>
  </div>
  <div class="bjb_footer">
    © 2020 Bark Chic, Inc. All rights reserved
  </div>
 
</html>


