<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Banner-->
    <div>
      <ul>
        <li><a routerLink="/home">LAMAN UTAMA</a></li>
        <li class="dropdown">
          <a class="active" routerLink="/user-view-utiliti">SENARAI RUANG</a>
        </li>
        <li><a href="#">TENTANG KAMI</a></li>
        <li><a href="#">HUBUNGI KAMI</a></li>
        <li><a routerLink="/viewReservation">SENARAI TEMPAHAN RUANG</a></li>
      </ul>
    </div>
  
    <!--Navigation Bar-->
    <div>
        <ul>
          <li><a href="#">LAMAN UTAMA</a></li>
          <li class="dropdown">
            <a routerLink="/user-view-utility" class="dropbtn">SENARAI RUANG</a>
          </li>
          <li><a href="#">TENTANG KAMI</a></li>
          <li><a href="#">HUBUNGI KAMI</a></li>
        </ul>
      </div>
    
      <!--Content Start Here-->
      <div class="backgroundcontainer">
        <div class="title">
          <input type="submit" class="add" name="add" value="SENARAI TEMPAHAN RUANG" id="fed_btn" routerLink="/viewReservation">
      </div>
      <div class="utiliticontainer">
        <form>
    
            <label>Maklumat Tentang Tempahan</label>
            <textarea name="activitydescription" rows="6" cols="65" required></textarea><br><br>

            <table>
              <tr>
              <td><label>Tarikh Mula</label></td>
              <td><input type="date" name="startdate"></td>
            

              <td><label>Masa Mula</label></td>
              <td><input type="time" name="starttime"></td>
              </tr>

              <tr>
              <td><label>Tarikh Tamat</label></td>
              <td><input type="date" name="enddate"></td>

              <td><label>Masa Tamat</label></td>
              <td><input type="time" name="endtime"></td>
              </tr>
            </table>
            
            <br><br>

            <table>
              <tr>
              <td><label>Kadar Tempahan</label></td>
              <td></td>
              </tr>

              <tr>
              <td><label>Bayaran</label></td>
              <td></td>
              </tr>

              <tr>
              <td><label>Diskaun</label></td>
              <td></td>
              </tr>

              <tr>
              <td><label>Jumlah Bayaran</label></td>
              <td></td>
              </tr>
            </table>

            <br><br>
    
            
            <input type="submit" value="Kemaskini Simpanan Tempahan" id="fed_btn">
        </form>
    </div>
    </div>

      <!--Footer-->
    <div class="bjb_footer">
    <a href="https://www.facebook.com/kbjbkangkarpulai/" target="_blank"><img class="footer" src="/assets/image/facebook.jpg"></a>
    <a href="mailto:bjbkangkarpulai@gmail.com" target="_blank"><img class="footer" src="/assets/image/gmail.jpg"></a>
    </div>
    <div class="bjb_footer">
     © 2020 Bark Chic, Inc. All rights reserved
    </div>

</html>

