/*--Responsive Page--*/
/*--For mobile--*/
@media only screen and (max-width: 600px){

.BJB_logo{
    width: 50px;
    height: 80px;
}

h1{
    font-size: 25px;
}

.sign_in_up{
    font-size: 15px;
}
}