.registercontainer {
    position: relative;
    background-image: url("/assets/image/background image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
  }

.box_1{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: auto;
    width: 80%;
    opacity: 90%;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

input select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  
  #fed_btn{
    background-color:rgb(7, 185, 224);
    border: none;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }

  input[type=text],  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=number]{
    width: 50%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .title{
    position: relative;
    float: right;
}

/*-----Table-----*/
  table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

/*--Responsive Page--*/
/*--For mobile--*/
@media only screen and (max-width: 600px){

  .BJB_logo{
    width: 50px;
    height: 80px;
}

h1{
    font-size: 25px;
}

.sign_in_up{
    font-size: 15px;
}

  .utiliticontainer{
    width: 350px;
  }

  input[type=date], input[type=time] {
    width: 100px;
    padding: 0px 0px; 
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: x-small;
  }
}