<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Banner-->
    <div class="header flex_to_corner">
      <div style="flex-grow: 1">
        <img class="BJB_logo" src="/assets/image/BJB logo.png" alt="BJB logo">
      </div>
      <div style="flex-grow: 8; text-align:left"><h1>BJB TEMPAHAN UTILITI</h1></div>
      <div class="sign_in_up" style="flex-grow: 1; text-align: right">
        <a routerLink="/login">LOG MASUK</a> ||
        <a routerLink="/register"  >DAFTAR</a>
    </div>
    </div>
  
    <!--Navigation Bar-->
    <div>
        <ul>
          <li><a routerLink="/home">LAMAN UTAMA</a></li>
          <li class="dropdown">
            <a routerLink="/user-view-utility" class="dropbtn">SENARAI RUANG</a>
          </li>
          <li><a href="#">TENTANG KAMI</a></li>
          <li><a href="#">HUBUNGI KAMI</a></li>
        </ul>
      </div>
    
      <!--Content Start Here-->
      <div class="backgroundcontainer">
        <div class="title">
          <input type="submit" class="add" name="add" value="SENARAI TEMPAHAN RUANG" id="fed_btn" routerLink="/viewReservation">
      </div>
      <div class="utiliticontainer">
        <form [formGroup]="createReservationForm" (ngSubmit)="addNewReservation()" ngNativeValidate>
            <label>Maklumat Tentang Tempahan</label>
            <textarea formControlName="reservationDescription" rows="6" cols="65" required></textarea><br><br>

            <table>
              <tr>
              <td><label>Tarikh Mula</label></td>
              <td><input type="date" formControlName="startdate" ></td>
            

              <td><label>Masa Mula</label></td>
              <td><input type="time" formControlName="starttime" ></td>
              </tr>

              <tr>
              <td><label>Tarikh Tamat</label></td>
              <td><input type="date" formControlName="enddate" ></td>

              <td><label>Masa Tamat</label></td>
              <td><input type="time" formControlName="endtime" ></td>
              </tr>
            </table>
            
            <br><br>

            <table>
              <tr>
              <td><label>Kadar Tempahan</label></td>
              <td>RM {{ruang.price}}</td>
              </tr>

              <tr>
              <td><label>Bayaran</label></td>
              <td>RM</td>
              </tr>

              <tr>
              <td><label>Diskaun</label></td>
              <td>RM - </td>
              </tr>

              <tr>
              <td><label>Jumlah Bayaran</label></td>
              <td>RM bayaran-diskaun </td>
              </tr>
            </table>

            <br><br>
    
            
            <input type="submit" value="Simpan Tempahan" id="fed_btn">
        </form>
    </div>
    </div>

      <!--Footer-->
    <div class="bjb_footer">
    <a href="https://www.facebook.com/kbjbkangkarpulai/" target="_blank"><img class="footer" src="/assets/image/facebook.jpg"></a>
    <a href="mailto:bjbkangkarpulai@gmail.com" target="_blank"><img class="footer" src="/assets/image/gmail.jpg"></a>
    </div>
    <div class="bjb_footer">
     © 2020 Bark Chic, Inc. All rights reserved
    </div>

</html>
