.registercontainer {
    position: relative;
    background-image: url("/assets/image/background image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
  }

.box_1{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: auto;
    width: 80%;
    opacity: 90%;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.box_2{
  position:relative
}

.line{
    color: rgb(190, 190, 190);
}

.img{
    width: 300px;
    border-radius: 4px;
}

.row {
    display: flex;
    position: relative;
  }
  
  
.columnleft {
    flex: 35%;
    padding: 5px;
    padding-left: 20%;
    margin: auto;
}

.columnright {
    flex: 65%;
    padding: 5px;
    position: relative;
}

.utilitytitle{
    font-size: 20px;
    font-weight: bold;
}

.price{
    font-weight: bold;
}

.title{
    position: relative;
}

button{
  width: 90px;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  right: 100px;
}

button a{
  color: white;
  text-decoration: none;
}

  input[type=button] {
    width: 90px;
    background-color: #ff0000;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 0%;
    right: 0%;
  }

/*--Responsive Page--*/
/*--For mobile--*/
@media only screen and (max-width: 600px){

  .BJB_logo{
    width: 50px;
    height: 80px;
}

h1{
    font-size: 25px;
}

.sign_in_up{
    font-size: 15px;
}

  .columnleft {
    flex: 50%;
    padding: 5px;
    padding-left: 20%;
    margin: auto;
}

.columnright {
    flex: 50%;
    padding: 5px;
    position: relative;
}
}