<html>
 <!--Banner-->
 <div class="header flex_to_corner">
    <div style="flex-grow: 1">
      <img class="BJB_logo" src="/assets/image/BJB logo.png" alt="BJB logo">
    </div>
    <div style="flex-grow: 8; text-align:left"><h1>BJB TEMPAHAN UTILITI</h1></div>
    <div class="sign_in_up" style="flex-grow: 1; text-align: right">
        Selamat Datang admin ||
        <a href="#">LOG KELUAR</a> ||
        <a href="#">KEMASKINI AKUAN</a>
  </div>
  </div>

<!--Navigation Bar-->
<div>
  <ul>
    <li><a routerLink="/admin-portal">LAMAN UTAMA</a></li>
      <li class="dropdown">
        <a routerLink="/view-utility">SENARAI UTILITI</a>
      </li>
      <li><a href="/pertanyaan-admin">PERTANYAAN</a></li>
  </ul>
</div>

<!--Register Form-->
<div class="registercontainer">  
  
  <div class="box_1">
    <form [formGroup]="addUtilityForm" (ngSubmit)="addNewRuang()" ngNativeValidate>
      <h2 align="center">Tambah Ruang Baru</h2>
        <label>Nama</label>
        <input type="text" formControlName="name" placeholder="Masukkan nama ruang" required><br><br>

        <label>Maklumat Ruang</label>
        <textarea formControlName="information" rows="5" cols="70" placeholder="Masukkan maklumat ruang" required></textarea><br><br>

        <label>Harga</label><br>
        <input type="number" formControlName="price" placeholder="Masukkan harga ruang" required><br><br>

        <label>Sila pilih</label><br>
        <select formControlName="pricePer" required>
          <option value="jam" selected>harga/jam</option>
          <option value="semalam">harga/semalam</option>
        </select><br><br>

        <label>Kapaciti</label><br>
        <input type="number" formControlName="capacity" placeholder="Masukkan kapasiti ruang" required><br><br>

        <label>Gambar</label><br>
        <div [innerHTML]="message" *ngIf="message" style="color: red;"></div>
        <div><img width="350px" height="250px" [src]="url" *ngIf="url"></div>
        <input type="file" accept="image/*" formControlName="img" (change)="selectFile($event)" required><br><br>

        <input type="submit" value="Hantar" id="reg_btn">

    </form>
    </div>
</div>



<!--Footer-->
<div class="bjb_footer">
    <a href="https://www.facebook.com/kbjbkangkarpulai/" target="_blank"><img class="footer" src="/assets/image/facebook.jpg"></a>
    <a href="mailto:bjbkangkarpulai@gmail.com" target="_blank"><img class="footer" src="/assets/image/gmail.jpg"></a>
  </div>
  <div class="bjb_footer">
    © 2020 Bark Chic, Inc. All rights reserved
  </div>
</html>