a.click-here{
    color: rgb(255, 87, 115);
    display: inline-block;
}

h2{
    text-align: center;
}

 .box_1{
    border-radius: 5px;
    background-color: rgb(118, 210, 231);
    padding: 20px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  input[type=submit] {
    width: 100%;
    background-color: rgb(12, 128, 154);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=text], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  p.error-msg{
    padding: 5px 2px;
    color: red;
    background-color: pink;
    border: 1px rgb(243, 59, 90) solid;
}

   /*-----Container-----*/
   .registercontainer {
    position: relative;
    background-image: url("/assets/image/background image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
  }

/*--Responsive Page--*/
/*--For mobile--*/
@media only screen and (max-width: 600px){
  .BJB_logo{
      width: 50px;
      height: 50px;
  }

  h1{
      font-size: x-small;
  }

  .sign_in_up{
      font-size: x-small;
  }
  
  input[type=submit].add {
    width: 100px;
    background-color: rgb(17, 156, 187);
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 0%;
    bottom: 0%;
    font-size: x-small;
  }

  .box_1{
    width: 350px;
  }

  p{
      margin: 0px;
  }
  
  input[type=date], input[type=time] {
    width: 100px;
    padding: 0px 0px; 
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: x-small;
  }

  
}