<html>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Banner-->
  <div class="header flex_to_corner">
    <div style="flex-grow: 1">
      <img class="BJB_logo" src="/assets/image/BJB logo.png" alt="BJB logo">
    </div>
    <div style="flex-grow: 8; text-align:left"><h1>BJB TEMPAHAN UTILITI</h1></div>
    <div class="sign_in_up" style="flex-grow: 1; text-align: right">
      <a routerLink="/login">LOG MASUK</a> ||
      <a routerLink="/register"  >DAFTAR</a>
  </div>
  </div>

  <!--Navigation Bar-->
  <div>
    <ul>
      <li><a class="active" href="#">LAMAN UTAMA</a></li>
      <li class="dropdown">
        <a href="#">SENARAI UTILITI</a>
        <div class="dropdown-content">
          <a routerLink="/view-utility">SENARAI RUANG</a>
          
        </div>
      </li>
      <li><a href="#">TENTANG KAMI</a></li>
      <li><a href="#">HUBUNGI KAMI</a></li>
    </ul>
  </div>

  <!--Content Start Here-->
  <div class="container">
    <img class="background" src="/assets/image/background image.jpg" alt="background image">
    <div class="left">
      <h2>STAY SAFE</h2>
    </div>
  </div>
 
  <!--Footer-->
  <div class="bjb_footer">
    <a href="https://www.facebook.com/kbjbkangkarpulai/" target="_blank"><img class="footer" src="/assets/image/facebook.jpg"></a>
    <a href="mailto:bjbkangkarpulai@gmail.com" target="_blank"><img class="footer" src="/assets/image/gmail.jpg"></a>
  </div>
  <div class="bjb_footer">
    © 2020 Bark Chic, Inc. All rights reserved
  </div>
 
</html>

